
        .btn-outline-primary {
            width: 100%;
            border-radius: 20px;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            padding: 10px 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            outline: none;
            border: 1px solid #5142FC;
            margin-bottom: 10px
        }
